.blur-section{
    width:30%;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    background-color: white;
    justify-content: space-between;
    display: flex;
    color:  grey;
    position: relative;
    margin-bottom: 20px;
    border: none;
    
}